---
layout: default
---

<h1>Welcome to my site!</h1>
<p>This is my corner of the internet where I post things I do, find interesting or want to share. Its not updated often, but I like to keep it around.</p>
<p>If you want to get in touch since I deleted a social media account <a href="/recon">go here!</a></p>

{{ content }}

{% if site.posts.size > 0 %}
<h2>Posts</h2>
<ul>
    {% for post in site.posts %}
    <li>
      <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
    </li>  
    {% endfor %}
</ul>
{% endif %}